@import "glide/glide.core.scss";

.glide {
    &__arrow {
        @apply absolute block top-1/2 btn shadow-md bg-white hover:bg-slate-200 transition-all;
        background-image: url('../images/svg/icon/caret.svg');
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
        padding: 1rem;
        opacity: 1;
        cursor: pointer;
        line-height: 1;

        &--left {
            left: -1rem;
            transform: rotate(90deg) translateX(-2rem);
        }

        &--right {
            right: -1rem;
            transform: rotate(-90deg) translateX(2rem);
        }

        &--disabled {
            opacity: 0.33;
        }
    }

    &__bullets {
        @apply bottom-2 absolute left-1/2 -translate-x-1/2 z-10;
    }

    &__bullet {
        @apply shadow-lg transition-all h-3 w-3 bg-white p-0 cursor-pointer rounded-full transition-all hover:bg-slate-200 focus:bg-slate-200;

        &--active {
            @apply bg-slate-300;
        }
    }
}

.mini-calendar-block {
    .carousel__slide {
        @apply pr-5;
    }
}